<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pupil Confirmation</title>
</head>
<body>

<h2>Pupil form</h2>
<br><br>

The pupil is: <span th:text="${pupil.firstName} + ' ' + ${pupil.lastName}"/>.
<br>
This is a <span th:text="${pupil.sex}"/>.
<br>
Pupil from <span th:text="${pupil.city}"/>.
<br>
Pupil favourite drink: <span th:text="${pupil.favouriteDrink}"/>.

<br>
Pupil favourite cars:
<br>

<ol>
    <li th:each="oneCar : ${pupil.favouriteCars}" th:text="${oneCar}"></li>
</ol>

</body>
</html>